body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title {
  background-color: rgb(7, 73, 73);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  font-size: 80px;
  margin: 0;
  width: 100%;
}

.navbar {
  background-color: rgb(59, 56, 56);
  padding: 35px;
  /* color: white; */
  text-transform: uppercase;
}

.navbar a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 15%;
  text-align: center; /* If you want the text to be centered */
}

.courses_header {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  font-weight: 700;
  color: brown;
  background-color: aquamarine;
  width: 30%;
  margin-left: 34%;
  border-radius: 5px;
  border: 0.2px solid red;
}

.college_reviews {
  text-align: center;
  font-size: 40px;
  color: rgb(158, 25, 158);
  border: 0.2px solid red;
  background-color: aqua;
  border-radius: 5px;
}

.study_materials {
  text-align: center;
  font-size: 40px;
  color: rgb(224, 91, 91);
  border: 0.2px solid red;
  background-color: rgb(56, 107, 107);
  border-radius: 5px;
}

.pdf_files {
  font-size: 30px;
}

.founder_section {
  background-color: rgb(245, 228, 228);
}

.founder_heading {
  text-align: center;
  color: brown;
  font-size: 50px;
}

.image_founder {
  margin-left: 40%;
  border-radius: 5px;
}

.founder_name {
  text-align: center;
  font-size: 28px;
}

.socialmedia_container {
  text-align: center;
}

.big_single_letter {
  font-size: 55px;
}

.about_founder {
  text-align: center;
  font-size: 18px;
}

.footer_content {
  background-color: gray;
  padding: 15px;
  width: 100%;

  text-decoration: none;
  font-size: 20px;
}

.footer_text {
  text-decoration: none;
  color: white;
}

.faq {
  margin-left: 55px;
}
.faq,
.contact,
.terms,
.privacy,
.refund,
.apna {
  margin-right: 120px;
}
